#--------------------- Weight Parameter ---------------------#
RESUME_PATH: null
PRETRAINED_PATH: ./weights/yolov3.pt

#--------------------- Train Parameter ---------------------#
NUM_EPOCHS: 500
INPUT_SIZE: 416
INPUT_CHANNEL: 3
BATCH_SIZE: 64
INIT_LEARNING_RATE: 0.01
FINAL_LEARNING_RATE: 0.1
WEIGHT_DECAY: 0.0003
MOMENTUM: 0.8
WARMUP_EPOCH: 3.0
WARMUP_MOMENTUM: 0.6
WARMUP_BIAS_LR: 0.2

NUM_ANCHORS: 9
ANCHORS:
  ANCHOR_S: [[20, 36], [45, 44], [50, 100]]
  ANCHOR_M: [[108, 81], [91, 183], [157, 151]]
  ANCHOR_L: [[298, 142], [186, 259], [337, 226]]

#--------------------- Augment Parameter ---------------------#
FLIP_UD: 0.0
FLIP_LR: 0.5
HSV_H: 0.015
HSV_S: 0.6
HSV_V: 0.3
ROTATE: 10
SHIFT: 0.2
SCALE: 0.6
PERSPECTIVE: 0.0001
MIXUP: 0.1

#--------------------- AP Metric Parameter ---------------------#
MAX_DETS: 100
MIN_SCORE_THRESH: 0.001
MIN_IOU_THRESH: 0.65

#--------------------- Loss Parameter ---------------------#
IGNORE_THRESH: 0.2
COEFFICIENT_COORD: 5.0
COEFFICIENT_NOOBJ: 0.2
