WEIGHT_PATH: ./weights/yolov3.pt

NUM_EPOCHS: 300
INPUT_SIZE: 320
BATCH_SIZE: 16
INIT_LEARNING_RATE: 0.001
LEARNING_RATE_SCALE: -4
WEIGHT_DECAY: 0.0005

GET_PBR: False
ANCHOR_IOU_THRESHOLD: 0.25
AUGMENT_STRONG: 0.2
MAX_DETS: 100
MIN_SCORE_THRESH: 0.001
MIN_IOU_THRESH: 0.65

IGNORE_THRESH: 0.2
ANCHORS:
  ANCHOR_S: [[10, 13], [16, 30], [33, 23]]
  ANCHOR_M: [[30, 61], [62, 45], [59, 119]]
  ANCHOR_L: [[116, 90], [156, 198], [373, 326]]

COEFFICIENT_COORD: 5.0
COEFFICIENT_NOOBJ: 0.2