RESUME_PATH: null
PRETRAINED_PATH: ./weights/yolov3.pt

NUM_EPOCHS: 1000
INPUT_SIZE: 416
INPUT_CHANNEL: 3
BATCH_SIZE: 64
INIT_LEARNING_RATE: 0.001
FINAL_LEARNING_RATE: 0.1
WEIGHT_DECAY: 0.0001
MOMENTUM: 0.9
WARMUP_EPOCH: 3.0
WARMUP_MOMENTUM: 0.8
WARMUP_BIAS_LR: 0.1

GET_PBR: False
ANCHOR_IOU_THRESHOLD: 0.25
MAX_DETS: 100
MIN_SCORE_THRESH: 0.001
MIN_IOU_THRESH: 0.65

IGNORE_THRESH: 0.2
ANCHORS:
  ANCHOR_S: [[10, 13], [16, 30], [33, 23]]
  ANCHOR_M: [[30, 61], [62, 45], [59, 119]]
  ANCHOR_L: [[116, 90], [156, 198], [373, 326]]

COEFFICIENT_COORD: 5.0
COEFFICIENT_NOOBJ: 0.2