PATH: d:/DATASET/PASCAL-VOC/

TRAIN: 
 - images/train
VAL: 
 - images/val

mAP_FILE: ./evals/voc2012_val.json

NAMES: ['aeroplane', 'bicycle', 'bird', 'boat', 'bottle', 'bus', 'car', 'cat', 'chair',
        'cow', 'diningtable', 'dog', 'horse', 'motorbike', 'person', 'pottedplant',
         'sheep', 'sofa', 'train', 'tvmonitor']